/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap'); /*título*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu:wght@500&display=swap'); /*texto*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Quicksand&family=Ubuntu:wght@500&display=swap'); /*botão*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oxygen:wght@700&family=Quicksand&family=Ubuntu:wght@500&display=swap'); /*link*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Oxygen:wght@700&family=Quicksand&family=Ubuntu:wght@500&display=swap'); /*link kata*/

body{
	background:#F0AB92;
}
h1{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	color: #8C3B51;
	text-shadow: 3px -2px 2px #F28585;
}
ul{
	list-style: square;
	width: 40vw;
	margin-left: 30vw;
	background-color: #D98989;
	border: 5px groove #8C3B51;
	color:#400601;
	font-size: 15pt;
	font-family: 'Quicksand', sans-serif;
}
ol{
	list-style-type: none;
	width: 20vw;
	margin-left: 40vw;
	font-family: 'Quicksand', sans-serif;
	font-size: 15pt;
	color: #8C3B51;
}
ol li{
	text-align: center;
	margin-top: 1vh;
	font-family: 'Oxygen', sans-serif;
	font-size: 15pt;
	background-color: #D98989;
	border: 1px inset #400601;
	border-radius: 12px;
}
ol li:hover{
	background-color: #A62E92;
}
table{
	max-width: 70vw;
	min-width: 35vw;
	margin-left: 15vw;
	text-align: center;
}
table th{
	border: 3px groove #8C3B51;
	background-color: #D98989;
	font-family: 'Quicksand', sans-serif;
	color: #400601;
	font-size: 15pt;
}
table td{
	border: 3px ridge #8C3B51;
	background-color: #D98989;
	color: #400601;
	font-family: 'Oxygen', sans-serif;
}
a{
	margin-left: 44vw;
	font-family: 'Noto Sans JP', sans-serif;
	color: #8C3B51;
	font-size: 24pt;
}
